
@font-face {
    font-family: 'Switzer-Medium';
    src: url('../fonts/Switzer-Medium.woff2') format('woff2'),
    url('../fonts/Switzer-Medium.woff') format('woff'),
    url('../fonts/Switzer-Medium.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Switzer-Bold';
    src: url('../fonts/Switzer-Bold.woff2') format('woff2'),
    url('../fonts/Switzer-Bold.woff') format('woff'),
    url('../fonts/Switzer-Bold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}


* {
    font-family: Switzer-Medium;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fafafc;
    color: #777;
    display: flex;
    justify-content: center;

}

/* Estilos para el modo oscuro */
body.dark-mode {
    background-color: #222;
    color: #ccc;
}

/* Otros estilos específicos para el modo oscuro */
body.dark-mode .input-container input::placeholder {
    color: #555;
}

body.dark-mode .surprise {
    background-color: #555;
    color: #fff;
}

body.dark-mode .surprise:active {
    background-color: #777777;
    color: #fff;
}


/* Otros estilos específicos para el modo oscuro */
body.dark-mode .variation-button {
    color: #fff;
}


p {
    font-weight: 200;
    font-size: 14px;
}

.app {
    width: 90vw;
}

.search-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.surprise {
    background-color: #ececf1;
    color: #000;
    border-radius: 5px;
    font-family: Switzer-Bold;
    padding: 4px 12px;
    margin: 0 0 3px 5px;
    cursor: pointer; /* Agregar esta línea para cambiar el cursor al puntero */
}

.surprise:active {
    background-color: #fafafc;
}


.input-container {
    width: 100%;
    display: flex;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 82, 0.15) 0 2px 4px;
}

.input-container input {
    flex-grow: 1;
    border: none;
    padding: 13px 14px;
    box-sizing: border-box;
    font-size: 15px;
    outline: none;
    font-weight: 200;
}

.input-container input::placeholder {
    color: #cacaca;
    font-weight: 200;
}

.input-container button {
    flex-shrink: 0;
    min-width: 60px;
    border: none;
    background-color: #fff;
    color: #777;
    font-family: Switzer-Bold;
    cursor: pointer;
    padding: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(100% - 1px); /* Posicionar la línea al final del contenedor */
    width: 1px;
    background-color: #cacaca;
}

.input-container button:active {
    background-color: #cacaca;
}

.image-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.image-section img {
    margin: 1px;
    min-width: 250px;
    max-width: 33%;
    flex-grow: 1;
}

@media (max-width: 556px) {
    .image-section img {
        max-width: 100%;
    }
}

.extra-info {
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.15);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}


.modal {
    background-color: #ffffff;
    color: #000000;
    /* Resto de estilos para el modo claro */
}

.modal.dark-mode {
    background-color: #333333;
    color: #ffffff;
    /* Resto de estilos para el modo oscuro */
}

.modal.dark-mode .label-file {
    color: #ffffff;
}

.modal.dark-mode p {
    color: #ffffff;
}


.modal.dark-mode button {
    background-color: #333333;
}

.modal.dark-mode button:active {
    background-color: #555555;
}

.modal{
    position:relative;
    z-index: 100;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.modal button{
    width: 100%;
    padding: 20px;
    border: none;
    background-color:#fff;
    cursor: pointer;
}

.modal button:active{
    background-color: #fafafc;
}

.img-container{
    height: 256px;
    width: 256px;
    overflow: hidden;
}

.label-file{
    cursor: pointer;
}

.variation-button{
    font-family: Switzer-Bold;
}


.toggle-position {
    position: absolute;
    top: 10px; /* Ajusta la posición vertical según sea necesario */
    right: 10px; /* Ajusta la posición horizontal según sea necesario */
}

@media (max-width: 900px) {
    .toggle-position {
        position: relative;
        margin:  10px auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


